.stepper-container {
    text-align: center;
    width: 30%;
}

.circle-Line-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    width: 100%;
}

.circle-Line-container::before {
    content: '';
    background-color: #e0e0e0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 3px;
    width: 100%;
    z-index: -1;
}


.progress-line {
    background-color: #3498db;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 3px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}



.btn {
    background-color: rgb(82, 110, 170);
    color: white;
    padding: 5px 15px;
    border: 0;
    margin: 10px;
    border-radius: 5px;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: 0;
}

.btn:disabled {
    background-color: rgba(82, 105, 126, 0.347);
    cursor: not-allowed;

}