@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*custom properties (CSS variables) for defining colors*/
:root {
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
}
* {
  box-sizing: border-box;
}
body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.stepper-container {
  text-align: center;
}

.progress-line-circle{
  display: flex;
  justify-content: space-between;
  /*put it relative so that we can use absolute*/
  position: relative;
  margin-bottom: 30px;
  /*repsonsive design*/
  max-width: 350px;
  width: 100%;
}
/*gray line*/
.progress-line-circle::before {
  content: '';
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  /*put middle in the middle, because line has height*/
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.progress-line {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  /*put middle in the middle, because line has height*/
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background-color: #fff;
  color: #999;
  height: 30px;
  width: 30px;
  border: 4px solid var(--line-border-empty);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease;

}
.circle.active {
  border-color: var(--line-border-fill)
}

.btn {
  background-color: var(--line-border-fill);
  color: #fff;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;

}

.btn:active{
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}
